# Ignore executables and object folders.
**/executables
**/objects
**/bin
**/output
**/text
**/deps
**/lib/PortAudio
**/lib/FLAC
**/lib/dr_wav
**/lib/vorbis
**/lib/freetype2


# Ignore vim swap files.
*.sw*

# Ignore vgcore files.
vgcore.*

# Ignore *.d files.
*.d

# Ignore glfw folder.
**/glfw
